force-app/main/default/flows/Order_Entry_Subflow_Update_Checkout_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Next_State</name>
        <label>Set Next State</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>updateCheckoutSessionStateAction</actionName>
        <actionType>updateCheckoutSessionStateAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>checkoutSessionId</name>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Next_State</name>
        <label>Next State?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_State</targetReference>
            </connector>
            <label>Was Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Entry Subflow - Update Checkout State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Entry Subflow - Update Checkout State</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Save_Session</name>
        <label>Save Session</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Next_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>newState</elementReference>
            </value>
        </inputAssignments>
        <object>CartCheckoutSession</object>
    </recordUpdates>
    <sourceTemplate>sfdc_checkout__UpdateCheckoutState</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>checkoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>newState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The next state expected after the new state that is set</description>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
